body {
  padding: 0;
  margin: 0;
  padding: 53px 0 0;
}

body * {
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: #00A3E2;
  font-size: 22px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

#progress-wrap {
  width: 30%;
  height: calc(100vh - 53px);
  position: fixed;
  right: 0;
  top: 53px;
  background-color: #f5f5f5;
  border-left: 3px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#progress-wrap p {
  font-size: 12px;
  color: #8a8a8a;
  border-bottom: double;
  padding: 5px;
}

#progress-wrap ul {
  overflow: scroll;
  height: 80%;
  width: 100%;
  padding: 10px;
}

#progress-wrap ul li {
  width: 100%;
  font-size: 12px;
  color: #8a8a8a;
  list-style: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  padding: 20px 0;
  border-bottom: solid 1px #eaeaea;
  box-sizing: border-box;
}

section h2 {
  padding: 0 30px;
  margin: 0;
  font-size: 18px;
  color: #00A3E2;
  width: 100%;
}

section .caution {
  padding: 10px 30px;
  margin: 0;
  font-size: 12px;
  color: #8a8a8a;
  width: 60%;
  box-sizing: border-box;
}

section div {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section div label {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section div label p {
  margin: 0;
}

section div p {
  width: 100%;
  text-align: center;
}

section div p.label {
  width: 30%;
  text-align: left;
}

section div input[type="range"] {
  width: 60%;
  margin: 0 20%;
}

section div input[type="number"] {
  width: 30%;
  border: solid 1px #8a8a8a;
  border-radius: 3px;
  padding: 5px 3px;
  text-align: right;
}

section div button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  padding: 10px;
  margin: 20px 0 10px;
  border: none;
  background-color: #00A3E2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fff;
  transition: .3s;
}

section div button:hover {
  background-color: #4dbde9;
}